/* PSEUDO */
:root {
    --section-height: 100vh;
    --type-writer-chars: 17;
    --cursor-color: #ffffff;
    --bg-color-typerwriter-anim: #000000;
    --font-all: mono;
    --typewriter-speed: 3s;
    --cursor-blink-speed: 400ms;
}

/* ELEMENT STYLING */
body {
    font-family: var(--font-all);
}
section {
    height: var(--section-height);
}

/* CUSTOMIZING BOOTSTRAP CLASSES */
.nav-item {
    padding: 0px 30px 0px 30px;
}
.navbar-bg-dark {
    background-color: #000000;
}
.container-fluid {
    padding: 7% 15%;
  }
.navbar-brand {
    font-size: 3rem;
    font-weight: bold;
}
.navbar {
    padding: 0 0 4.5rem;
}

/* CUSTOM CLASSES */
.introduction {
    color: white;
    background-color: #000000;
}

.h1-big {
    font-size: 5rem;
}

.h1-very-bg {
    font-size: 10rem;
}

.h1-md {
    font-size: 3rem;
}

.h2-typewriter-anim {
    width: max-content;
    position: relative;
    
}

.width-max-content {
    width: max-content;
}

.logo-img {
    height: 55vh;
}

.about-me {
    height: 100vh;
    background-color:#000000;
    color: white;
}

.p-big {
    font-size: x-large;
}

.center-middle {
    text-align: center;
}

.submit-btn-container {
    display: flex;
    justify-content: end;
}

.footer {
    height: 3m;
    background-color: black;
}

.seperator {
    margin: auto;
    width: 50vw;
    background-color: white;
  
    box-shadow: 0px 0px 1px 1px white;
    /* in order: x offset, y offset, blur size, spread size, color */
    /* blur size and spread size are optional (they default to 0) */
}

.footer-links {
    align-items: center;
}

.footer-item {
    list-style: none;
}
/* Typewriter EFFECT ANIMATION */
.fade-in {
    opacity: 0;
    transform: translateY(10rem);

    animation: fade_in_up 2s ease calc(var(--typewriter-speed) + 2s) forwards;
}



.fade-in-logo {
    opacity: 0;
    transform: translateY(15rem);

    animation: fade_in_up 4s ease calc(var(--typewriter-speed) + 2s + 1s) forwards;
}

.h2-typewriter-anim::before,
.h2-typewriter-anim::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.h2-typewriter-anim::before {
    background-color: var(--bg-color-typerwriter-anim);
    animation: typewriter var(--typewriter-speed) steps(var(--type-writer-chars)) 1s forwards;
}

.h2-typewriter-anim::after {
    width: .125em;
    background: var(--cursor-color);
    animation: 
        typewriter var(--typewriter-speed) steps(var(--type-writer-chars)) 1s forwards,
        cursor_blink var(--cursor-blink-speed) steps(var(--type-writer-chars)) infinite;  
}

/* KEYFRAMES */

@keyframes typewriter {
    to { left: 100%; }
}

@keyframes cursor_blink {
    to {
        background: transparent;
    }
}

@keyframes fade_in_up {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fade_in_side {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}